clusters/pi-k3s/n8n/workflows/ack-api.json
{
  "name": "Ack API (toggle board_acks)",
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "F2B1A0C3-4D5E-6F70-8190-A1B2C3D4E5F6",
      "name": "Ack Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "7D8E9FA0-1B2C-3D4E-5F60-718293A4B5C6",
      "parameters": {
        "httpMethod": "POST",
        "path": "ack",
        "responseMode": "responseNode",
        "authentication": "headerAuth",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "dgqc6ZiNll2avwOb",
          "name": "Feed Token"
        }
      }
    },
    {
      "id": "A1C0FE21-2B7E-49C4-9A0E-1D2F3B4C5D6E",
      "name": "Ensure Board Acks",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        220,
        0
      ],
      "alwaysOutputData": true,
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE IF NOT EXISTS board_acks (item_id BIGINT NOT NULL, person TEXT NOT NULL CHECK (person IN ('julia','matt','ronin','rory')), seen_at TIMESTAMPTZ NOT NULL DEFAULT now(), PRIMARY KEY (item_id, person));",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "5bzmWi2TWDCyypLQ",
          "name": "intake-db"
        }
      }
    },
    {
      "id": "B2D1E0F3-5C6D-7E80-9F10-2A3B4C5D6E7F",
      "name": "Toggle Ack",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        440,
        0
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH del AS (DELETE FROM board_acks WHERE item_id = $1::bigint AND person = $2::text RETURNING person), ins AS (INSERT INTO board_acks (item_id, person) SELECT $1::bigint, $2::text WHERE NOT EXISTS (SELECT 1 FROM del) RETURNING person) SELECT $1::bigint AS item_id, $2::text AS person, EXISTS (SELECT 1 FROM ins) AS seen;",
        "options": {
          "queryReplacement": "={{ $('Ack Webhook').first().json.body.item_id }},={{ $('Ack Webhook').first().json.body.person }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "5bzmWi2TWDCyypLQ",
          "name": "intake-db"
        }
      }
    },
    {
      "id": "C3E2F1A4-6D7E-8F90-A021-3B4C5D6E7F80",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        660,
        0
      ],
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Ack Webhook": {
      "main": [
        [
          {
            "node": "Ensure Board Acks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ensure Board Acks": {
      "main": [
        [
          {
            "node": "Toggle Ack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Toggle Ack": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
