clusters/pi-k3s/n8n/workflows/calendar-ics.json
{
  "name": "Calendar ICS (dynamic)",
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "8F7849E0-E5ED-41EC-8DCC-58A596BEBC57",
      "name": "Ronin Cal",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        -120
      ],
      "webhookId": "9F02D3A1-0FA3-4829-88BD-DADDF10BD03C",
      "parameters": {
        "httpMethod": "GET",
        "path": "cal-ronin-dd5bef4b-4b18-4965-96af-c0b26117ee4a",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "7726DF54-8085-42A7-8804-CC5BA7F97A2D",
      "name": "Rory Cal",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        120
      ],
      "webhookId": "CF4A00A5-C124-4673-8637-86E7CAA404DC",
      "parameters": {
        "httpMethod": "GET",
        "path": "cal-rory-d4ba8436-1a91-46e8-ad42-d3a13c85f56e",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "6BD65E47-AE52-4BA6-B55A-CBC98E09823C",
      "name": "Ronin rows",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        240,
        -120
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT 'Ronin' AS calname, type,title,due_at,amount,source_hint,source_subject,source_msg_id FROM intake_items WHERE type IN ('event','due') AND student IN ('ronin','both') ORDER BY due_at;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "5bzmWi2TWDCyypLQ",
          "name": "intake-db"
        }
      }
    },
    {
      "id": "13989170-6268-486F-9514-8E4493D25F72",
      "name": "Rory rows",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        240,
        120
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT 'Rory' AS calname, type,title,due_at,amount,source_hint,source_subject,source_msg_id FROM intake_items WHERE type IN ('event','due') AND student IN ('rory','both') ORDER BY due_at;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "5bzmWi2TWDCyypLQ",
          "name": "intake-db"
        }
      }
    },
    {
      "id": "6224B661-5C95-47F4-B406-0C24D8008554",
      "name": "ICS Ronin",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        -120
      ],
      "parameters": {
        "jsCode": "// Build an ICS string from this kid's event/due rows (returned as text, not a file).\nconst rows = $input.all().map(i => i.json);\nconst calname = (rows[0] && rows[0].calname) || 'School';\nconst esc = s => String(s == null ? '' : s).replace(/\\\\/g, '\\\\\\\\').replace(/;/g, '\\;').replace(/,/g, '\\\\,').replace(/\\r?\\n/g, '\\\\n');\nconst parse = s => { const m = String(s || '').match(/^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2}):(\\d{2})/); return m ? { Y: m[1], Mo: m[2], D: m[3], H: m[4], Mi: m[5] } : null; };\nconst stamp = new Date().toISOString().replace(/[-:]/g, '').split('.')[0] + 'Z';\nconst lines = ['BEGIN:VCALENDAR','VERSION:2.0','PRODID:-//mtgibbs//intake//EN','CALSCALE:GREGORIAN','METHOD:PUBLISH','X-WR-CALNAME:' + esc(calname),'X-WR-TIMEZONE:America/New_York'];\nfor (const r of rows) {\n  const d = parse(r.due_at); if (!d) continue;\n  const ymd = d.Y + d.Mo + d.D, midnight = (d.H === '00' && d.Mi === '00');\n  let dtstart;\n  if (r.type === 'due') { const hm = midnight ? '2359' : (d.H + d.Mi); dtstart = 'DTSTART:' + ymd + 'T' + hm + '00'; }\n  else if (midnight) dtstart = 'DTSTART;VALUE=DATE:' + ymd;\n  else dtstart = 'DTSTART:' + ymd + 'T' + d.H + d.Mi + '00';\n  const uid = Buffer.from((r.source_msg_id||'')+'|'+(r.title||'')+'|'+ymd).toString('base64').replace(/[^a-zA-Z0-9]/g,'').slice(0,32)+'@mtgibbs.dev';\n  let summary = r.title || '(untitled)'; if (r.type === 'due') summary = 'Due: ' + summary + (r.amount ? ' (' + r.amount + ')' : '');\n  lines.push('BEGIN:VEVENT','UID:'+uid,'DTSTAMP:'+stamp,dtstart,'SUMMARY:'+esc(summary),'DESCRIPTION:'+esc('From: '+(r.source_subject||'')+(r.source_hint?' — '+r.source_hint:'')),'END:VEVENT');\n}\nlines.push('END:VCALENDAR');\nreturn [{ json: { calname, events: rows.length, ics: lines.join('\\r\\n') + '\\r\\n' } }];\n"
      }
    },
    {
      "id": "0E2A212A-0F5A-46EE-B2DB-166AC5CFD47A",
      "name": "ICS Rory",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        120
      ],
      "parameters": {
        "jsCode": "// Build an ICS string from this kid's event/due rows (returned as text, not a file).\nconst rows = $input.all().map(i => i.json);\nconst calname = (rows[0] && rows[0].calname) || 'School';\nconst esc = s => String(s == null ? '' : s).replace(/\\\\/g, '\\\\\\\\').replace(/;/g, '\\;').replace(/,/g, '\\\\,').replace(/\\r?\\n/g, '\\\\n');\nconst parse = s => { const m = String(s || '').match(/^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2}):(\\d{2})/); return m ? { Y: m[1], Mo: m[2], D: m[3], H: m[4], Mi: m[5] } : null; };\nconst stamp = new Date().toISOString().replace(/[-:]/g, '').split('.')[0] + 'Z';\nconst lines = ['BEGIN:VCALENDAR','VERSION:2.0','PRODID:-//mtgibbs//intake//EN','CALSCALE:GREGORIAN','METHOD:PUBLISH','X-WR-CALNAME:' + esc(calname),'X-WR-TIMEZONE:America/New_York'];\nfor (const r of rows) {\n  const d = parse(r.due_at); if (!d) continue;\n  const ymd = d.Y + d.Mo + d.D, midnight = (d.H === '00' && d.Mi === '00');\n  let dtstart;\n  if (r.type === 'due') { const hm = midnight ? '2359' : (d.H + d.Mi); dtstart = 'DTSTART:' + ymd + 'T' + hm + '00'; }\n  else if (midnight) dtstart = 'DTSTART;VALUE=DATE:' + ymd;\n  else dtstart = 'DTSTART:' + ymd + 'T' + d.H + d.Mi + '00';\n  const uid = Buffer.from((r.source_msg_id||'')+'|'+(r.title||'')+'|'+ymd).toString('base64').replace(/[^a-zA-Z0-9]/g,'').slice(0,32)+'@mtgibbs.dev';\n  let summary = r.title || '(untitled)'; if (r.type === 'due') summary = 'Due: ' + summary + (r.amount ? ' (' + r.amount + ')' : '');\n  lines.push('BEGIN:VEVENT','UID:'+uid,'DTSTAMP:'+stamp,dtstart,'SUMMARY:'+esc(summary),'DESCRIPTION:'+esc('From: '+(r.source_subject||'')+(r.source_hint?' — '+r.source_hint:'')),'END:VEVENT');\n}\nlines.push('END:VCALENDAR');\nreturn [{ json: { calname, events: rows.length, ics: lines.join('\\r\\n') + '\\r\\n' } }];\n"
      }
    },
    {
      "id": "D7923FBF-CFB2-40D2-A1D8-ADBCBCB1849F",
      "name": "Resp Ronin",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        720,
        -120
      ],
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.ics }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/calendar; charset=utf-8"
              }
            ]
          }
        }
      }
    },
    {
      "id": "3AEEDA55-222E-49FD-8AFC-0E4540779BC7",
      "name": "Resp Rory",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        720,
        120
      ],
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.ics }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/calendar; charset=utf-8"
              }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Ronin Cal": {
      "main": [
        [
          {
            "node": "Ronin rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rory Cal": {
      "main": [
        [
          {
            "node": "Rory rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ronin rows": {
      "main": [
        [
          {
            "node": "ICS Ronin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rory rows": {
      "main": [
        [
          {
            "node": "ICS Rory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ICS Ronin": {
      "main": [
        [
          {
            "node": "Resp Ronin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ICS Rory": {
      "main": [
        [
          {
            "node": "Resp Rory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
