clusters/pi-k3s/n8n/workflows/calendar-ics.json
{
  "name": "Calendar ICS Generator",
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "EE76DC9A-AEF9-4593-BFFE-4AB9164AF958",
      "name": "Every 15 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        -120
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      }
    },
    {
      "id": "32E59741-3C0C-416F-8FDF-AEA7CAC60558",
      "name": "Regen Now",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        120
      ],
      "webhookId": "EA26F0B7-9625-4367-BAF2-CFB002D39436",
      "parameters": {
        "httpMethod": "GET",
        "path": "gen-calendars",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "CBC5F9A6-B7BF-4EA8-A8CD-9389ACEDB314",
      "name": "Ronin rows",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        260,
        -120
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT 'Ronin' AS calname, type,title,due_at,student,amount,source_hint,source_subject,source_msg_id FROM intake_items WHERE type IN ('event','due') AND student IN ('ronin','both') ORDER BY due_at;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "5bzmWi2TWDCyypLQ",
          "name": "intake-db"
        }
      }
    },
    {
      "id": "245E8782-4F2E-468F-A480-4FD0C8E43888",
      "name": "Rory rows",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        260,
        120
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT 'Rory' AS calname, type,title,due_at,student,amount,source_hint,source_subject,source_msg_id FROM intake_items WHERE type IN ('event','due') AND student IN ('rory','both') ORDER BY due_at;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "5bzmWi2TWDCyypLQ",
          "name": "intake-db"
        }
      }
    },
    {
      "id": "E5B2C9B5-AC2A-4C70-A2FE-1D96B0F94FA1",
      "name": "ICS Ronin",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        -120
      ],
      "parameters": {
        "jsCode": "// Build one ICS document from the input rows (one kid's event/due items + 'both').\nconst rows = $input.all().map(i => i.json);\nconst calname = (rows[0] && rows[0].calname) || 'School';\nconst esc = s => String(s == null ? '' : s).replace(/\\\\/g, '\\\\\\\\').replace(/;/g, '\\\\;').replace(/,/g, '\\\\,').replace(/\\r?\\n/g, '\\\\n');\nconst parse = s => { const m = String(s || '').match(/^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2}):(\\d{2})/); return m ? { Y: m[1], Mo: m[2], D: m[3], H: m[4], Mi: m[5] } : null; };\nconst stamp = new Date().toISOString().replace(/[-:]/g, '').split('.')[0] + 'Z';\n\nconst lines = ['BEGIN:VCALENDAR', 'VERSION:2.0', 'PRODID:-//mtgibbs//intake//EN', 'CALSCALE:GREGORIAN', 'METHOD:PUBLISH', 'X-WR-CALNAME:' + esc(calname), 'X-WR-TIMEZONE:America/New_York'];\nfor (const r of rows) {\n  const d = parse(r.due_at);\n  if (!d) continue;                       // undated items don't go on the calendar\n  const ymd = d.Y + d.Mo + d.D;\n  const midnight = (d.H === '00' && d.Mi === '00');   // LLM emits T00:00 for date-only\n  let dtstart;\n  if (r.type === 'due') {\n    // deadlines are timed: bare date -> 23:59 (end of day); otherwise the stated time.\n    // Floating local time (no Z/TZID) renders at wall-clock — avoids the UTC-shift bug.\n    const hm = midnight ? '2359' : (d.H + d.Mi);\n    dtstart = 'DTSTART:' + ymd + 'T' + hm + '00';\n  } else if (midnight) {\n    dtstart = 'DTSTART;VALUE=DATE:' + ymd;            // all-day event\n  } else {\n    dtstart = 'DTSTART:' + ymd + 'T' + d.H + d.Mi + '00';\n  }\n  const uidseed = (r.source_msg_id || '') + '|' + (r.title || '') + '|' + ymd;\n  const uid = Buffer.from(uidseed).toString('base64').replace(/[^a-zA-Z0-9]/g, '').slice(0, 32) + '@mtgibbs.dev';\n  let summary = r.title || '(untitled)';\n  if (r.type === 'due') summary = 'Due: ' + summary + (r.amount ? ' (' + r.amount + ')' : '');\n  const desc = 'From: ' + (r.source_subject || '') + (r.source_hint ? ' — ' + r.source_hint : '');\n  lines.push('BEGIN:VEVENT', 'UID:' + uid, 'DTSTAMP:' + stamp, dtstart, 'SUMMARY:' + esc(summary), 'DESCRIPTION:' + esc(desc), 'END:VEVENT');\n}\nlines.push('END:VCALENDAR');\nconst ics = lines.join('\\r\\n') + '\\r\\n';\nreturn [{ json: { calname, events: rows.length }, binary: { data: { data: Buffer.from(ics).toString('base64'), mimeType: 'text/calendar', fileName: 'cal.ics' } } }];\n"
      }
    },
    {
      "id": "63032C43-1DC6-40BD-BFF8-28276775E296",
      "name": "ICS Rory",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        120
      ],
      "parameters": {
        "jsCode": "// Build one ICS document from the input rows (one kid's event/due items + 'both').\nconst rows = $input.all().map(i => i.json);\nconst calname = (rows[0] && rows[0].calname) || 'School';\nconst esc = s => String(s == null ? '' : s).replace(/\\\\/g, '\\\\\\\\').replace(/;/g, '\\\\;').replace(/,/g, '\\\\,').replace(/\\r?\\n/g, '\\\\n');\nconst parse = s => { const m = String(s || '').match(/^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2}):(\\d{2})/); return m ? { Y: m[1], Mo: m[2], D: m[3], H: m[4], Mi: m[5] } : null; };\nconst stamp = new Date().toISOString().replace(/[-:]/g, '').split('.')[0] + 'Z';\n\nconst lines = ['BEGIN:VCALENDAR', 'VERSION:2.0', 'PRODID:-//mtgibbs//intake//EN', 'CALSCALE:GREGORIAN', 'METHOD:PUBLISH', 'X-WR-CALNAME:' + esc(calname), 'X-WR-TIMEZONE:America/New_York'];\nfor (const r of rows) {\n  const d = parse(r.due_at);\n  if (!d) continue;                       // undated items don't go on the calendar\n  const ymd = d.Y + d.Mo + d.D;\n  const midnight = (d.H === '00' && d.Mi === '00');   // LLM emits T00:00 for date-only\n  let dtstart;\n  if (r.type === 'due') {\n    // deadlines are timed: bare date -> 23:59 (end of day); otherwise the stated time.\n    // Floating local time (no Z/TZID) renders at wall-clock — avoids the UTC-shift bug.\n    const hm = midnight ? '2359' : (d.H + d.Mi);\n    dtstart = 'DTSTART:' + ymd + 'T' + hm + '00';\n  } else if (midnight) {\n    dtstart = 'DTSTART;VALUE=DATE:' + ymd;            // all-day event\n  } else {\n    dtstart = 'DTSTART:' + ymd + 'T' + d.H + d.Mi + '00';\n  }\n  const uidseed = (r.source_msg_id || '') + '|' + (r.title || '') + '|' + ymd;\n  const uid = Buffer.from(uidseed).toString('base64').replace(/[^a-zA-Z0-9]/g, '').slice(0, 32) + '@mtgibbs.dev';\n  let summary = r.title || '(untitled)';\n  if (r.type === 'due') summary = 'Due: ' + summary + (r.amount ? ' (' + r.amount + ')' : '');\n  const desc = 'From: ' + (r.source_subject || '') + (r.source_hint ? ' — ' + r.source_hint : '');\n  lines.push('BEGIN:VEVENT', 'UID:' + uid, 'DTSTAMP:' + stamp, dtstart, 'SUMMARY:' + esc(summary), 'DESCRIPTION:' + esc(desc), 'END:VEVENT');\n}\nlines.push('END:VCALENDAR');\nconst ics = lines.join('\\r\\n') + '\\r\\n';\nreturn [{ json: { calname, events: rows.length }, binary: { data: { data: Buffer.from(ics).toString('base64'), mimeType: 'text/calendar', fileName: 'cal.ics' } } }];\n"
      }
    },
    {
      "id": "F1BF498B-4F61-4D8D-8578-78A491622A55",
      "name": "Write Ronin",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        740,
        -120
      ],
      "parameters": {
        "operation": "write",
        "fileName": "/calendar/ronin-dd5bef4b-4b18-4965-96af-c0b26117ee4a.ics",
        "dataPropertyName": "data",
        "options": {}
      }
    },
    {
      "id": "7318C356-B0E5-4840-B500-D3126BFA0463",
      "name": "Write Rory",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        740,
        120
      ],
      "parameters": {
        "operation": "write",
        "fileName": "/calendar/rory-d4ba8436-1a91-46e8-ad42-d3a13c85f56e.ics",
        "dataPropertyName": "data",
        "options": {}
      }
    }
  ],
  "connections": {
    "Every 15 min": {
      "main": [
        [
          {
            "node": "Ronin rows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Rory rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Regen Now": {
      "main": [
        [
          {
            "node": "Ronin rows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Rory rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ronin rows": {
      "main": [
        [
          {
            "node": "ICS Ronin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rory rows": {
      "main": [
        [
          {
            "node": "ICS Rory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ICS Ronin": {
      "main": [
        [
          {
            "node": "Write Ronin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ICS Rory": {
      "main": [
        [
          {
            "node": "Write Rory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
