clusters/pi-k3s/n8n/workflows/inbound-mail.json
{
  "name": "Inbound Mail — Intake",
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "90FEAC56-2ED2-4F6B-BE34-F850CE4E38EC",
      "name": "Inbound Mail Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "53917A78-D6B0-4E8E-90B0-95397965D154",
      "parameters": {
        "httpMethod": "POST",
        "path": "inbound-mail",
        "authentication": "headerAuth",
        "responseMode": "onReceived",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "5oAV58zdOBeUJXO8",
          "name": "inbound-mail-token"
        }
      }
    },
    {
      "id": "4482E537-591F-46EA-B3F0-93A303C85A48",
      "name": "Ensure Table",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        180,
        0
      ],
      "alwaysOutputData": true,
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE IF NOT EXISTS intake_items (id BIGSERIAL PRIMARY KEY, received_at TIMESTAMPTZ NOT NULL DEFAULT now(), source_msg_id TEXT, type TEXT, title TEXT, due_at TIMESTAMPTZ, student TEXT, action_required BOOLEAN, amount TEXT, teacher TEXT, course TEXT, source_hint TEXT, confidence REAL, source_channel TEXT, source_subject TEXT, source_from TEXT); ALTER TABLE intake_items ADD COLUMN IF NOT EXISTS source_msg_id TEXT; CREATE INDEX IF NOT EXISTS intake_items_msgid_idx ON intake_items(source_msg_id);",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "5bzmWi2TWDCyypLQ",
          "name": "intake-db"
        }
      }
    },
    {
      "id": "BE46EDDA-173E-4021-9808-42298044775E",
      "name": "Delete Prior",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        340,
        0
      ],
      "alwaysOutputData": true,
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM intake_items WHERE source_msg_id = $1;",
        "options": {
          "queryReplacement": "={{ $('Inbound Mail Webhook').first().json.body.messageId || (($('Inbound Mail Webhook').first().json.body.from || '') + '|' + ($('Inbound Mail Webhook').first().json.body.subject || '') + '|' + ($('Inbound Mail Webhook').first().json.body.date || '')) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "5bzmWi2TWDCyypLQ",
          "name": "intake-db"
        }
      }
    },
    {
      "id": "3D3E9C89-831E-4D23-8865-2B8D6FE31A03",
      "name": "Pick Attachment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        0
      ],
      "parameters": {
        "jsCode": "// Pick the first SAFE attachment to extract: PDF only, <= 10MB. Everything else\n// (docx, images, archives, executables, oversized) is skipped → body fallback.\nconst atts = ((($('Inbound Mail Webhook').first().json.body) || {}).attachments) || [];\nconst MAX = 10 * 1024 * 1024;\nconst pick = atts.find(a => a && a.mimeType === 'application/pdf' && Number(a.size || 0) > 0 && Number(a.size || 0) <= MAX);\nreturn [{ json: { r2Key: pick ? pick.r2Key : '', att_filename: pick ? (pick.filename || 'attachment.pdf') : '', has_att: !!pick } }];\n"
      }
    },
    {
      "id": "CF024CFA-3E97-4241-940A-6CCA6B3216A9",
      "name": "S3 Download",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        660,
        0
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "resource": "file",
        "operation": "download",
        "bucketName": "mtgibbs-mail-attachments",
        "fileKey": "={{ $json.r2Key }}"
      },
      "credentials": {
        "s3": {
          "id": "d0rrIuqwF7WNIpnE",
          "name": "r2-intake"
        }
      }
    },
    {
      "id": "48C9204C-001D-4161-A07C-2E06DEB05A16",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        820,
        0
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "data",
        "options": {}
      }
    },
    {
      "id": "9EA2137A-A142-4D31-862A-05AEA69E0E8C",
      "name": "Build Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        0
      ],
      "parameters": {
        "jsCode": "const b = ($('Inbound Mail Webhook').first().json.body) || {};\n// attachment text comes from \"Extract from File\" (runs with continueOnError; empty if no PDF)\nlet attText = '';\ntry { const e = $('Extract from File').first().json || {}; attText = String(e.text || e.data || e.extractedText || ''); } catch (err) {}\nattText = attText.slice(0, 6000);\nlet fn = '';\ntry { fn = (($('Pick Attachment').first().json) || {}).att_filename || ''; } catch (err) {}\nconst sys = `You are an extraction service that pulls actionable items from an inbound message for the Gibbs family (kids: ronin, rory). The message may be a school notice, community flyer, bill, event, or general info, and may include an attached PDF. Output ONLY a JSON array (no markdown). Each item: {\"type\":\"date|dues|assignment|event|site-pointer|info\",\"title\":string,\"dueAt\":ISO-8601 date or datetime or null,\"student\":\"ronin|rory|both|unknown\",\"actionRequired\":boolean,\"amount\":string|null,\"teacher\":string|null,\"class\":string|null,\"source_hint\":short verbatim quote,\"confidence\":0..1}. Resolve relative dates against the email date. If nothing actionable, return [].`;\nconst bodyText = String(b.text || '').slice(0, 5000);\nlet user = `EMAIL DATE: ${b.date || ''}\\nFROM: ${b.from || ''}\\nSUBJECT: ${b.subject || ''}\\nTO: ${b.envelopeTo || ''}\\n\\nBODY:\\n${bodyText}`;\nif (attText.trim()) user += `\\n\\n--- ATTACHED PDF (${fn}) ---\\n${attText}`;\nreturn [{ json: { model: 'qwen3-30b-instruct', temperature: 0.1, max_tokens: 1500, messages: [ { role: 'system', content: sys }, { role: 'user', content: user } ] } }];\n"
      }
    },
    {
      "id": "468B8948-E195-4E89-B6C4-8F801FC40DEB",
      "name": "LiteLLM Extract",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "https://ai.lab.mtgibbs.dev/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 120000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "u8zjKkG1zwZt9Vr3",
          "name": "litellm-intake"
        }
      }
    },
    {
      "id": "106FBAB9-ED15-47D2-87F7-E328CC533738",
      "name": "Parse Records",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        0
      ],
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nlet content = (((resp.choices || [])[0] || {}).message || {}).content || '';\ncontent = content.replace(/```json/gi, '').replace(/```/g, '').trim();\nconst s = content.indexOf('['), e = content.lastIndexOf(']');\nlet arr = [];\nif (s >= 0 && e > s) {\n  try { arr = JSON.parse(content.slice(s, e + 1)); }\n  catch (err) { arr = [{ type: 'info', title: 'PARSE_ERROR', source_hint: content.slice(0, 300), confidence: 0 }]; }\n}\nif (!Array.isArray(arr)) arr = [];\nconst src = ($('Inbound Mail Webhook').first().json.body) || {};\n// stable per-EMAIL identity (msgId) — the \"Delete Prior\" node clears this email's\n// old rows before insert, so re-processing/retries replace rather than duplicate.\nconst source_msg_id = String(src.messageId || `${src.from || ''}|${src.subject || ''}|${src.date || ''}`);\nreturn arr.map(r => ({ json: {\n  source_msg_id,\n  type: r.type || 'info',\n  title: r.title || '',\n  due_at: r.dueAt || null,\n  student: r.student || 'unknown',\n  action_required: r.actionRequired === true,\n  amount: r.amount || null,\n  teacher: r.teacher || null,\n  course: r.class || null,\n  source_hint: r.source_hint || null,\n  confidence: (typeof r.confidence === 'number' ? r.confidence : null),\n  source_channel: src.envelopeTo || '',\n  source_subject: src.subject || '',\n  source_from: src.from || ''\n} }));\n"
      }
    },
    {
      "id": "EAE759FA-4375-4B76-A460-B7D0399B1758",
      "name": "Store",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1460,
        0
      ],
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "intake_items"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "matchingColumns": [],
          "value": {},
          "schema": []
        },
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "5bzmWi2TWDCyypLQ",
          "name": "intake-db"
        }
      }
    }
  ],
  "connections": {
    "Inbound Mail Webhook": {
      "main": [
        [
          {
            "node": "Ensure Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ensure Table": {
      "main": [
        [
          {
            "node": "Delete Prior",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Prior": {
      "main": [
        [
          {
            "node": "Pick Attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Attachment": {
      "main": [
        [
          {
            "node": "S3 Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S3 Download": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Build Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Request": {
      "main": [
        [
          {
            "node": "LiteLLM Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LiteLLM Extract": {
      "main": [
        [
          {
            "node": "Parse Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Records": {
      "main": [
        [
          {
            "node": "Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
